html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e555c;
}
.App {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.title {
  font-size: 50px;
  margin: 0;
}
.lengths {
  display: flex;
  gap: 50px;
}
.refresh {
  margin: 10px;
}
.icons {
  font-size: 25px;
}
.icons:hover {
  cursor: pointer;
}
